runs/res_fs_filt
runs/res_fs_filt2
runs/res_fs_filt3
runs/res_fs_filt4
runs/res_fs_filt5
runs/res_fs_final
runs/res_fs_smooth
runs/residual_final
runs/residual_final_v2
runs/residual_local
runs/residual_wide
runs/sanity

baseline_circle.mp4
baseline_figure_eight (1).png
baseline_figure_eight.mp4
baseline_figure_eight.png

models/res_fs_filt_best
models/res_fs_filt_ckpts
models/res_fs_filt.zip
models/res_fs_filt2_best
models/res_fs_filt2_ckpts
models/res_fs_filt2.zip
models/res_fs_filt3_best
models/res_fs_filt3_ckpts
models/res_fs_filt3.zip
models/res_fs_filt4_best
models/res_fs_filt4_ckpts
models/res_fs_filt4.zip
models/res_fs_filt5_best
models/res_fs_filt5_ckpts
models/res_fs_filt5.zip
models/res_fs_final_best
models/res_fs_final_ckpts
models/res_fs_final.zip
models/res_fs_smooth_best
models/res_fs_smooth_ckpts
models/res_fs_smooth.zip
models/residual_best
models/residual_ckpts
models/residual_final_best
models/residual_final_ckpts
models/residual_final.zip
models/residual_final_v2_best
models/residual_final_v2_ckpts
models/residual_final_v2.zip
models/residual_local_best
models/residual_local_ckpts
models/residual_local.zip
models/residual_wide_best
models/residual_wide_ckpts
models/residual_wide.zip
models/sanity_best
models/sanity_ckpts
models/sanity.zip
